.card_scooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  border-radius: 10px;
  padding-top: 20px;
  cursor: pointer;
}
.card_scooter:hover {
  box-shadow: 0px 0px 5px 5px rgba(111, 124, 145, 0.3);
}
.card_top {
  position: relative;
  // background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 0 10px 0 10px;
  // background-size: contain;
  min-width: 240px;
  min-height: 240px;
}
// .img {
//   min-width: 240px;
//   min-height: 240px;
// }

.card_hit {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 10px;
  font-size: 15px;
  color: #ffffff;
  min-width: 41px;
  min-height: 25px;
  background: #ee685f;
  border-radius: 5px;
}

.card_bottom {
  display: flex;
  flex-wrap: wrap; //!!!!!!!!!!!!!!!!!!!!
  max-width: 260px;
  padding: 15px 24px;
  justify-content: center;
}
.card_bottom h3 {
  font-weight: 500;
  font-size: 18px;
  color: #5d6c7b;
  margin-bottom: 17px;
}
.card_specification {
  display: flex;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  color: #5d6c7b;
  width: 50%;
  margin-bottom: 18px;
}
.card_start_price {
  display: flex;
  font-weight: 500;
  font-size: 15px;
  text-decoration: line-through;
  color: #a7a7a7;
  font-family: "Gilroy", Arial, sans-serif;
}
.card_stock_price {
  display: flex;
  font-weight: 600;
  font-size: 18px;
  // color: #465157;
  color: #ee685f;
  font-family: "Gilroy", Arial, sans-serif;
}
.card_price_main {
  display: flex;
  width: 100%;
  margin-top: 5px;
}
.card_price {
  display: flex;
  // flex-direction: column;
  flex: 1;
  justify-content: center;
}
.card_items {
  display: flex;
  align-items: flex-end;
}
.icon_accumulator::before {
  content: "";
  display: inline-flex;
  width: 18px;
  height: 18px;
  background-image: url("../../../public/images/accumulator\ 1.svg");
  margin-right: 10px;
}

.icon_power::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("../../../public/images/power\ 1.svg");
  margin: 0 10px 0 20px;
}
.icon_speedometer::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("../../../public/images/speedometer\ 1.svg");
  margin-right: 10px;
}
.icon_timer::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("../../../public/images/timer\ 1.svg");
  margin: 0 10px 0 20px;
}
// .card_stock_price::after {
//   display: inline-block;
//   content: "";
//   background-image: url("../../../public/images/price_1.png");
//   width: 13px;
//   height: 14px;
//   margin-left: 5px;
// }
// .card_start_price::after {
//   display: inline-block;
//   content: "";
//   background-image: url("../../../public/images/price_2.png");
//   width: 8px;
//   height: 9px;
//   margin-left: 3px;
// }

.card_specification_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.button_buy {
  min-width: 100%;
  padding: 10px;
  background: #6f73ee;
  border-radius: 5px;
  font-size: 14px;
  color: #ffffff;
  margin-top: 15px;
  text-transform: uppercase;
}

.card_items a {
  margin-left: 10px;
}
