.card_scooter {
  // display: flex;
  // flex-direction: column;
  // height: auto;
  // width: 100%;
  // border: 2px solid #eaebed;
  margin-right: 15px;
  margin-bottom: 30px;
  border-radius: 10px;
  cursor: pointer;
}
.card_scooter:hover{
box-shadow: 0px 0px 5px 5px rgba(111, 124, 145, 0.3);

}
.card_top {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  position: relative;
  min-height: 231px;
  background-image: url("../../../public/images/scooter.svg");
  background-repeat: no-repeat;
  padding: 0 10px 0 10px;
}
// .card_arrow {
//   width: 100%;
// }
.card_buttom_hit {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  left: 10px;
  font-size: 12px;
  color: #ffffff;
  min-width: 41px;
  min-height: 25px;
  text-transform: uppercase;
  background: #ee685f;
  border-radius: 5px;
}
// .buttom_balance_left {
//   position: absolute;
//   right: 10px;
//   top: 10px;
// }
.card_bottom {
  display: flex;
  flex-wrap: wrap; //!!!!!!!!!!!!!!!!!!!!
  max-width: 255px;
  padding: 20px 24px;
}
.card_bottom h3 {
  font-weight: 600;
  font-size: 18px;
  color: #282739;
  margin-bottom: 17px;
}
.card_specification {
  display: flex;
  /* align-items: flex-end; */
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  color: #5d6c7b;
  width: 50%;
  margin-bottom: 18px;
}
.card_big_price {
  font-weight: 500;
  font-size: 12px;
  text-decoration: line-through;
  color: #5d6c7b;
}
.card_small_price {
  font-weight: 600;
  font-size: 20px;
  color: #282739;
}
.card_price_main {
  display: flex;
  width: 100%;
  margin-top: 5px;
}
.card_price {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
}
.card_items {
  display: flex;
  align-items: flex-end;
}
.icon_accumulator::before {
  content: "";
  display: inline-flex;
  width: 18px;
  height: 18px;
  background-image: url("../../../public/images/accumulator\ 1.svg");
  margin-right: 10px;
}

.icon_power::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("../../../public/images/power\ 1.svg");
  margin: 0 10px 0 20px;
}
.icon_speedometer::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("../../../public/images/speedometer\ 1.svg");
  margin-right: 10px;
}
.icon_timer::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("../../../public/images/timer\ 1.svg");
  margin: 0 10px 0 20px;
}
.card_small_price::after {
  display: inline-block;
  content: "";
  background-image: url("../../../public/images/price_1.png");
  width: 13px;
  height: 14px;
  margin-left: 5px;
}
.card_big_price::after {
  display: inline-block;
  content: "";
  background-image: url("../../../public/images/price_2.png");
  width: 8px;
  height: 9px;
  margin-left: 3px;
}

.card_specification_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card_buy {
  min-width: 100%;
  // height: 37px;
  // /* padding: 5px 0; */
  padding: 10px;
  background: #6f73ee;
  border-radius: 5px;
  font-size: 12px;
  color: #ffffff;
  margin-top: 15px;
}

.card_items a {
  margin-left: 10px;
}
