.wrapper {
  max-width: 1440px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px 0;
}
.service_main {
  display: flex;
  align-items: center;
  min-height: 421px;
  background-image: url("../../../public/images/service\ and\ repaire.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 30px;
}
.service_info {
  display: flex;
  flex-direction: column;
  max-width: 620px;
  width: 100%;
}
.service_tittle {
  font-weight: 600;
  font-size: 35px;
  line-height: 51px;
  text-transform: uppercase;
  color: #ffffff;
}
.service_more_info {
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
  margin-bottom: 25px;
}
.service_info_button {
  max-width: 177px;
  height: 53px;
  background: #ffffff;
  border-radius: 5px;
  font-size: 16px;
  line-height: 23px;
  color: #6f73ee;
}
