header {
  // max-width: 1440px;
  min-height: auto;
  // margin: 0 auto;
  background-color: #f4f7fb;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #ecf3ff;
  font-family: Jost;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  background: #ffffff;
  justify-content: space-between;
  @media (max-width: 878px) {
    justify-content: center;
  }
}
.nav_right {
  display: flex;
  @media (max-width: 1010px) {
    justify-content: center;
    margin: 0px 50px 0px 50px;
  }
}
.nav_right ul {
  display: flex;
  flex-wrap: wrap;
  height: 39px;
  align-items: center;
}

.nav_right ul li {
  margin-right: 30px;
  font-size: 14px;
}

.whatsappIcon {
  width: 14px;
  height: 14px;
  margin-right: 8px;
}

.viberIcon {
  width: 13px;
  height: 13px;
  margin-right: 8px;
}

.telegramIcon {
  width: 14px;
  height: 14px;
}
.number {
  margin-right: 9px;
  font-weight: 500;
  font-size: 14px;
  color: #282739;
}
.nav_left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @media (max-width: 1010px) {
    margin: 0px 50px 0px 50px;
  }
}

.nav_center {
  display: flex;
  min-height: 104px;
  background: #ffffff;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  @media (max-width:916px) {
    justify-content: center;
    @media (max-width: 770px) {
      flex-direction: column;
    }
  }
}
.nav_search {
  display: flex;
  position: relative;
  @media (max-width:1200px) {
    margin-left: 70px;
    @media (max-width: 770px) {
      padding: 5px;
      margin-left: 0px;
    }
  }
}

.nav_search ul {
  /* flex-wrap: wrap; */
  display: flex;
  align-items: center;
}

.logo {
  font-family: Jost;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  font-weight: 700;
  color: #282739;
  margin-right: 35px;
}

.catalog {
  display: flex;
  align-items: center;
  width: 114px;
  min-height: 40px;
  margin-right: 20px;
  border-radius: 5px;
  background: var(--purple);
  color: #ffffff;
  font-family: Jost;
  font-weight: 500;
  font-size: 16px;
}

.catalog_icon {
  display: flex;
  width: 18px;
  height: 18px;
  margin: 10px 13px 10px 15px;
}

.nav_search li {
  list-style: none;
}

.main_search {
  width: 100%;
  height: 40px;
  min-width: 350px;
  border-radius: 5px;
  border: 1.5px solid #6f73ee;
  outline: #6f73ee;
  font-size: 14px;
  padding-left: 10px;
  @media (max-width:915px) {
    max-width: 350px;
   
  }
}

.main_search::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
}

.main_search:focus {
  font-size: 17px;
  caret-color: var(--purple);
}

.input_wrap {
  position: relative;
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  margin-right: 47px;
  @media (max-width:915px) {
    max-width: 350px;
    @media (max-width:676px) {
      margin-right: 0px;
    }
  }
}

.results {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  top: 45px;
  left: 0;
  z-index: 10;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 0 0 5px 5px;
}

.searchLink {
  font-size: 17px;
  padding: 7px;
  &:hover {
    font-size: 20px;
    background-color: #e7ebf0;
  }
}

// .input_left_search {
//   position: absolute;
//   width: 76px;
//   height: 32px;
//   border-radius: 5px;
//   left: 4px;
//   top: 50%;
//   transform: translateY(-50%);
//   background: #f4f7fb;
//   border-radius: 5px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-size: 14px;
//   font-weight: 400;
//   font-family: Jost;
//   color: #282739;
//   cursor: pointer;
// }
.input_right_search {
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 0 5px 5px 0;
  background: var(--purple);
  position: absolute;
  display: flex;
  // background-image: url("../../images/Search.svg");
  // background-repeat: no-repeat;
}

.input_right_search::before {
  content: "";
  width: 16px;
  height: 16px;
  margin: 11px 13px 13px 11px;
  background-image: url("../../../public/images/Search.svg");
}
.input_right_search img {
  margin: auto;
  width: 16px;
  height: 16px;
}
.search {
  position: absolute;
  display: flex;
}

.container_ac{
  display: flex;
  @media (max-width:916px) {
    margin:10px 10px;
  }
}

.wrapper_cart {
  position: relative;
  display: inline-flex;
  align-items: center;
  /* flex-wrap: wrap; */
  border: 1px solid #dbdee3;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s all;
  @media (max-width:916px) {
    margin-right: 10px;
  }
}
.wrapper_acaunt {
  position: relative;
  display: inline-flex;
  align-items: center;
  border: 1px solid #dbdee3;
  border-radius: 50px;
  margin-right: 10px;
  transition: 0.2s all;
}
.wrapper_cart:hover,
.wrapper_acaunt:hover {
  box-shadow: 0 2px 4px gray;
}
.wrapper_cart:active,
.wrapper_acaunt:active {
  background-color: rgb(218, 221, 223);
  transition: 1s;
}
.cart_button {
  display: flex;
  align-items: center;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #282739;
  padding: 10px;
}

.number_items_in_cart {
  display: block;
  position: absolute;
  right: 10px;
  top: 1px;
  width: 16px;
  height: 16px;
  border-radius: 20px;
  background-color: #ee685f;
  color: #fff;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
}

.cart_icon {
  color: var(--purple);
  margin-right: 8px;
  width: 20px;
  height: 18px;
}

.nav_info {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  min-height: 40px;
  background: #f4f7fb;
  @media (max-width: 1095px) {
    margin: 0px 30px 0px 30px;
    @media (max-width: 868px) {
     height: 60px;
    //  margin: 0px 5px;
     padding-right: 0px;
    }
  }
 
}
.nav_info ul {
  display: flex;
  flex-wrap: wrap;
}
.nav_info ul li a {
  display: flex;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  // color: #282739;
}

.nav_info_about_shop {
  margin-right: 50px;
}
// .nav_info_dilivery {
//   color: #282739;
// }
.item_6 {
  margin-left: 50px;
}

.icon_arrow {
  margin-right: 5px;
  color: #5d6c7b;
  cursor: pointer;
  width: 15px;
  height: 20px;
}

@media (max-width: 915px) {
  .right_bar,
  .nav_search ul,
  .nav_center {
    flex-wrap: wrap;
  }
  .right_bar {
    margin-left: 30px;
  }
  .nav_info {
    padding-right: 30px;
  }
}
@media (max-width: 750px) {
  .nav_choice {
    justify-content: center;
  }
  .nav_center,
  .nav {
    justify-content: center;
  }
}
@media (max-width: 1300px) {
  .container_dealer {
    justify-content: center;
    border-radius: 0%;
    padding: 30px;
    margin: 0;
  }
}
