.video_wrapper {
  position: fixed;
  max-width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(13, 13, 13, 0.5);
}

.video {
  position: absolute;
  height: 40%;
  width: 40%;
  border-radius: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
